<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "https://web.whatsapp.com/"
        version     = "url"
        height      = "600"
        width       = "800">
 
  <name short="WhatsApp">
    WhatsApp
  </name>

  <description>
  </description>

  <author href="https://web.whatsapp.com/">WhatsApp</author>

  <icon src="/home/cho2/komodo-for-android/source/whatsapp.svg"/>
  <content src="index.html"/>

  <license>
    (c) 2014, Instagram
  </license>
</widget>
