<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "com.maleo.whatsapp"
        version     = "0.0.1"
        height      = "600"
        width       = "800">
 
  <name short="WhatsApp">
    WhatsApp
  </name>

  <description>
	WhatsApp Running From Maleo
  </description>

  <author href="https://web.whatsapp.com/">WhatsApp</author>

  <icon src="whatsapp.svg"/>
  <content src="index.html"/>

  <license>
    (c) 2015, WhatsApp
  </license>
</widget>
